<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sexed.appdoctor"
    android:versionCode="3"
    android:versionName="2.2" >

    <uses-sdk
        android:minSdkVersion="17"
        android:targetSdkVersion="22" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".AppDoctor"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.appszoom.appszoomsdk.AppsZoomInterstitialActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent" />

        <!--
             Detect app installs. Necessary to control the installs your app
            generates (avoid using it if you are only tracking)
        -->
        <receiver android:name="com.appszoom.appszoomsdk.AppsZoomPackageAddedReceiver" >
            <intent-filter>
                <data android:scheme="package" />

                <action android:name="android.intent.action.PACKAGE_ADDED" />
            </intent-filter>
        </receiver>

        <!-- Detect the installation of your app and the source. -->
        <receiver
            android:name="com.appszoom.appszoomsdk.AppsZoomReferrerReceiver"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".Education"
            android:label="@string/title_activity_education"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Tools"
            android:label="@string/title_activity_tools"
            android:screenOrientation="portrait" />
        <activity
            android:name=".About"
            android:label="@string/title_activity_about"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PeriodTracker"
            android:label="@string/title_activity_period_tracker"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DiseaseIdentifier"
            android:label="@string/title_activity_disease_identifier"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Clinics"
            android:label="@string/title_activity_clinics"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Settings"
            android:label="@string/title_activity_settings"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Messages"
            android:label="@string/title_activity_messages"
            android:screenOrientation="portrait" />
        <activity
            android:name=".About$Lessons"
            android:label="@string/title_activity_lessons" >
        </activity>
        <activity
            android:name=".Quizzes"
            android:label="@string/title_activity_quizzes" >
        </activity>
        <activity
            android:name=".Lessons"
            android:label="@string/title_activity_lessons" >
        </activity>
    </application>

</manifest>
